%icon {
    align-items: center;
    display: flex;
    font-size: 14px;
    height: 28px;
    justify-content: center;
    width: 28px;
    @media (min-width: 480px) {
        height: 32px;
        width: 32px;
        font-size: 16px;
    }
}

.header {
    align-items: center;
    background: $lightgray;
    display: flex;
    justify-content: space-between;
    min-height: 85px;
    padding: 25px 15px;
    position: relative;
    z-index: 1000;
    @media (min-width: 640px) {
        padding: 25px;
    }
    .nav-main {
        display: flex;
        align-items: center;
        .title {
            margin: 0 0 0 5px;
            font-size: 12px;
            @media (min-width: 360px) {
                font-size: 14px;
                margin: 0 0 0 10px;
            }
            @media (min-width: 480px) {
                font-size: 20px;
                margin: 0 0 0 20px;
            }
            @media (min-width: 520px) {
                font-size: 24px;
            }
        }
        ul {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                margin-right: 5px;
                a {
                    background: $darkgray;
                    color: $textcolor;
                    text-decoration: none;
                    padding: 5px 10px;
                    font: 20px/1 $copy;
                    display: block;
                    border-radius: 4px;
                    min-height: 32px;
                    &:hover {
                        color: $white;
                    }
                    &.icon {
                        @extend %icon;
                        &.open {
                            color: $white;
                        }
                    }
                }
                &.active {
                    a {
                        color: $white;
                        &.icon {
                            background: $white;
                            color: $darkgray;
                        }
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
            }
            &.link-button {
                li {
                    a {
                        background: $lightgray;
                        border-radius: 5px;
                        color: $white;
                        display: inline-block;
                        font: 12px/32px $copy;
                        padding: 0 10px;
                        vertical-align: top;
                        text-decoration: none;
                        @media (min-width: 360px) {
                            font: 14px/32px $copy;
                        }
                        @media (min-width: 480px) {
                            padding: 0 20px;
                        }
                        &:hover {
                            background: $blue;
                        }
                    }
                }
            }
        }
        .brand {
            width: 32px;
            height: 32px;
            margin-right: 10px;
            img {
                width: 100%;
            }
        }
        .search-top {
            background: $darkgray;
            border: 0 none;
            border-radius: 5px;
            color: $white;
            font: 16px/1 $copy;
            height: 32px;
            margin-right: 15px;
            outline: 0 none;
            .icon {
                background: $darkgray;
                color: $icongray;
                font-size: 14px;
                padding: 0 5px 0 10px;
            }
            input[type="text"] {
                background: $darkgray;
                border: 0 none;
                border-radius: 5px;
                color: $white;
                font: 18px/1 $copy;
                height: 32px;
                outline: 0 none;
                width: 240px;
                &::placeholder {
                    color: $icongray;
                    opacity: 1;
                }
            }
        }
        &.right {
            margin-right: 25px;
            @media (min-width: 370px) {
                margin-right: 30px;
            }
            @media (min-width: 768px) {
                margin-right: 0;
            }
            li {
                margin-right: 5px;
                @media (min-width: 370px) {
                    margin-right: 10px;
                }
                @media (min-width: 768px) {
                    margin-right: 15px;
                }
            }
            .header-cta {
                margin: 0 0 0 5px;
                @media (min-width: 370px) {
                    margin: 0 0 0 15px;
                }
                a {
                    background: $blue;
                    border-radius: 5px;
                    color: $white;
                    display: inline-block;
                    font: 12px/32px $copy;
                    padding: 0 10px;
                    vertical-align: top;
                    text-decoration: none;
                    @media (min-width: 376px) {
                        font: 14px/32px $copy;
                    }
                    @media (min-width: 480px) {
                        padding: 0 20px;
                    }
                }
            }
        }
        &.mob-nav {
            display: none;
            position: absolute;
            left: 0;
            top: 100%;
            z-index: 100;
            width: 100%;
            background: $lightgray;
            padding: 20px;
            border-top: 1px solid $darkgray;
            &.open {
                display: block;
            }
            .search-top {
                margin-top: 15px;
                margin-right: 0;
            }
        }
    }
    .icon {
        @extend %icon;
    }
    .user-link {
        border-radius: 50%;
        display: block;
        height: 34px;
        margin-right: 15px;
        width: 34px;
        cursor: pointer;
        position: relative;
        .sub-nav {
            position: absolute;
            top: 50px;
            right: 0;
            display: none;
            border-radius: 10px;
            background: $darkgray;
            width: 150px;
            box-shadow: 0 12px 10px 0 rgba(55, 55, 55, 1);
            ul {
                flex-direction: column;
                padding: 15px 20px;
                li {
                    margin: 0px;
                    width: 100%;
                    padding: 5px;
                    a {
                        color: $textcolor;
                        font: 600 14px $copy;
                        padding: 0px;
                        min-height: auto;
                        width: 100%;
                        &:hover {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}

.inner-nav {
    @media (min-width: 670px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .link {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            margin: 0 20px;
            a {
                padding: 16px 0;
                display: block;
                font: 600 14px $copy;
                color: $textcolor;
                text-decoration: none;
                border-bottom: 2px solid transparent;
                border-top: 2px solid transparent;
                text-transform: uppercase;
                &:hover {
                    color: $white;
                }
            }
            &.active {
                a {
                    color: $white;
                    border-bottom: 2px solid $white;
                }
            }
        }
    }
    &.page-meta-top {
        justify-content: space-between;
        padding: 0 35px;
    }
    .link-row {
        display: flex;
        align-items: center;
        .page-title {
            padding: 20px 0;
            margin: 0 20px 0 0;
            border-top: 2px solid transparent;
            border-bottom: 2px solid $white;
            font: 600 18px $copy;
        }
        .link-icon {
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                margin: 0 10px;
                font-size: 20px;
                @media (min-width: 480px) {
                    margin: 0 20px;
                }
                a {
                    color: $textcolor;
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
        .payout-link {
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                margin: 0 10px;
                font-size: 20px;
                padding: 16px 0;
                @media (min-width: 480px) {
                    margin: 0 20px;
                }
                a {
                    font: 600 18px $copy;
                    color: $white;
                    &:hover {
                        text-decoration: none;
                    }
                }
                &.active {
                    border-bottom: 2px solid $white;
                }
            }
        }
        .updated {
            color: $textcolor;
            font: 600 14px $copy;
            margin-right: 30px;
        }
        .from {
            padding: 20px 0;
            border-top: 2px solid transparent;
            border-bottom: 2px solid $white;
            font: 600 18px $copy;
        }
    }
}

.noti-box {
    position: absolute;
    right: 20px;
    background: $darkgray;
    top: calc(100% + 20px);
    max-width: 372px;
    width: 3752px;
    border-radius: 25px 25px 0 0;
    overflow: hidden;
    display: none;
    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 25px 15px;
        background: $lightgray;
        border-bottom: 1px solid $bordercolor;
        h2 {
            margin: 0;
            color: $white;
            font: 600 14px $copy;
        }
        .activity {
            background: $darkgray;
            border-radius: 5px;
            color: $white;
            font: 600 12px/1 $copy;
            padding: 7px 15px 6px;
            border-radius: 4px;
            text-decoration: none;
        }
    }
    .body {
        min-height: 575px;
        position: relative;
        .no-noti {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 45px 0;
            color: $white;
            font: 600 14px $copy;
        }
        .see-all-noti {
            position: absolute;
            left: 50%;
            bottom: 20px;
            transform: translateX(-50%);
            color: $white;
            font: 600 14px $copy;
            text-decoration: none;
        }
    }
}