.wrap-create {
    background: #2e2e2e;
    @media (min-width: 768px) {
        display: flex;
    }
    .create-img {
        flex: 0 0 300px;
        padding: 40px;
        width: 100%;
        @media (min-width: 768px) {
            width: 300px;
        }
        .box {
            background: #231f20;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 40px;
            h3 {
                color: #fff;
                font: 22px Arial, sans-serif;
            }
            h2 {
                font: 600 42px Arial, sans-serif;
                color: #fff;
            }
            .icon {
                color: #231f20;
                background: #fff;
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                border-radius: 4px;
            }
            .pos {
                display: flex;
                align-items: center;
                margin-top: 15px;
                i {
                    font-size: 26px;
                    margin-right: 15px;
                    color: #39b54a;
                }
                span {
                    font: 14px Arial, sans-serif;
                    color: #cecece;
                }
            }
        }
        .img-bar {
            margin-bottom: -25px;
            .image {
                opacity: 0.3;
                border-radius: 10px;
                overflow: hidden;
                margin-bottom: 20px;
                img {
                    width: 100%;
                }
                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }
                &.selected {
                    opacity: 1;
                    box-shadow: 0 0 0 5px #0b9eda;
                }
            }
        }
    }
    .img-edit {
        flex-grow: 1;
        padding: 40px;
        background: #353535;
        display: flex;
        justify-content: center;
        align-items: center;
        .selected-image {
            overflow: hidden;
            border-radius: 20px;
            img {
                width: 100%;
            }
        }
    }
    .img-settings {
        flex: 0 0 330px;
        width: 100%;
        @media (min-width: 768px) {
            width: 330px;
        }
        .img-edit-list {
            padding: 10px 20px;
            ul {
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;
                align-items: center;
                justify-content: space-between;
                li {
                    font-size: 26px;
                    a {
                        color: #555;
                    }
                    &.active {
                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
        .edit-adjust {
            padding: 20px;
            .adjust {
                display: flex;
                align-items: center;
                margin-bottom: 25px;
                .icon {
                    width: 40px;
                    font-size: 24px;
                }
                .range {
                    position: relative;
                    display: flex;
                    align-items: center;
                    flex-grow: 1;
                    input[type='range'] {
                        position: relative;
                        z-index: 100;
                        height: 10px;
                        outline: none;
                        margin: 0;
                        padding: 0;
                        width: 100%;
                        background: #fff;
                        appearance: none;
                        border-radius: 0;
                        &::-webkit-slider-thumb {
                            position: relative;
                            appearance: none;
                            width: 30px;
                            height: 30px;
                            background: #00aeef;
                            border: 0 none;
                            border-radius: 5px;
                            cursor: pointer;
                            z-index: 5000;
                            transition: background 0.3s ease-in-out;
                        }
                        &::-moz-range-track {
                            background: transparent;
                        }
                        &::-moz-range-thumb {
                            position: relative;
                            appearance: none;
                            width: 30px;
                            height: 30px;
                            background: #00aeef;
                            border: 0 none;
                            border-radius: 5px;
                            cursor: pointer;
                            z-index: 5000;
                            transition: background 0.3s ease-in-out;
                        }
                    }
                    .fill {
                        position: absolute;
                        top: 0;
                        height: 10px;
                        width: 0%;
                        background: #00aeef;
                        z-index: 100;
                    }
                }
                .count {
                    background: #353535;
                    color: #fff;
                    width: 56px;
                    font: 14px/1 Arial, sans-serif;
                    height: 32px;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: 0 0 56px;
                    margin: 0 0 0 10px;
                }
            }
        }
    }
}