.payout-wrap {
    padding: 40px 30px;
    @media (min-width: 768px) {
        padding: 40px 50px;
    }
    .payout-box {
        .col-md-4 {
            margin-bottom: 30px;
        }
    }
    .support-box {
        .col-md-4 {
            margin-bottom: 30px;
        }
    }
    .setup-box {
        padding: 16px 20px;
        margin-bottom: 40px;
        border-radius: 10px;
        @media (min-width: 670px) {
            display: flex;
            align-items: center;
        }
        h3 {
            font: 600 18px $copy;
            color: $white;
            margin: 0px;
            a {
                text-decoration: none;
                color: $blue;
                i {
                    font-size: 26px;
                    margin-right: 15px;
                    color: $blue;
                }
            }
        }
    }
    .box {
        background: $lightgray;
        border-radius: 10px;
        height: 100%;
        padding: 20px;
        h3 {
            color: $white;
            font: 22px $copy;
        }
        h2 {
            font: 600 42px $copy;
            color: $white;
        }
        p {
            color: $white;
            font: 18px $copy;
            margin: 0px;
            a {
                text-decoration: none;
                color: $blue;
            }
        }
        .pos {
            display: flex;
            align-items: center;
            margin-top: 15px;
            i {
                font-size: 26px;
                margin-right: 15px;
                color: $blue;
            }
            span {
                font: 14px $copy;
                color: $textcolor;
            }
        }
    }
}

.payouts {
    margin: 30px 0;
    padding: 25px;
    min-height: 300px;
    position: relative;
    .placeholder {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: 0;
        transform: translate(-50%, -50%);
        text-align: center;
        h6 {
            color: $white;
            font: 600 22px $copy;
        }
        p {
            color: $white;
            font: 16px $copy;
            margin: 0px;
        }
    }
}