.profile-meta {
    text-align: center;
    padding: 90px 15px;
    .user-pic {
        border-radius: 50%;
        display: inline-block;
        margin-bottom: 15px;
        overflow: hidden;
        vertical-align: top;
        width: 125px;
    }
    .user-name {
        font-size: 42px;
        margin: 0;
    }
}

.tab-profile {
    text-align: center;
    ul {
        display: inline-flex;
        list-style: none;
        justify-content: center;
        margin: 0;
        padding: 0;
        position: relative;
        li {
            font: 18px $copy;
            padding: 20px 15px;
            position: relative;
            a {
                color: $textcolor;
                &:hover {
                    color: $white;
                    text-decoration: none;
                }
            }
            &.icon {
                color: $white;
                font-size: 16px;
                left: -40px;
                position: absolute;
            }
            &.active {
                padding-bottom: 0;
                a {
                    color: $white;
                    border-bottom: 2px solid $white;
                    padding-bottom: 20px;
                }
            }
        }
    }
}

.profile-gallery {
    padding: 0 40px 40px;
    .title {
        color: rgba($white, 0.2);
        font: 18px/1.15 $copy;
        margin: 0;
        padding: 25px 15px;
    }
    .info {
        display: flex;
        margin-top: 20px;
        .heading {
            flex-grow: 1;
            h2 {
                font-size: 22px;
                color: $white;
                white-space: nowrap;
                .time {
                    color: $textcolor;
                    font-size: 16px;
                    margin: 0 0 0 10px;
                }
            }
            .meta {
                font-size: 16px;
            }
        }
        .img-option {
            margin: 0 0 0 10px;
            ul {
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    width: 75px;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 1px solid $darkgray;
                    margin-left: -40px;
                }
            }
        }
    }
    .img {
        margin: 20px 0 40px;
        overflow: hidden;
        border-radius: 35px;
    }
    &:nth-child(2n) {
        background: $lightgray;
        .info {
            .img-option {
                ul {
                    li {
                        border-color: $lightgray;
                    }
                }
            }
        }
    }
    [class*="container-"] {
        padding-left: 40px;
        padding-right: 40px;
        .row {
            margin-left: -40px;
            margin-right: -40px;
            [class*="col-"] {
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }
}