.row-profile {
    padding: 60px 20px;
    @media (min-width: 768px) {
        padding: 60px;
    }
    .tab-profile {
        max-width: 100%;
        @media (min-width: 992px) {
            max-width: 260px;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                margin-bottom: 15px;
                a {
                    align-items: center;
                    background: $lightgray;
                    border-radius: 10px;
                    color: $white;
                    display: flex;
                    font: 22px/1 $copy;
                    height: 64px;
                    padding: 0 20px;
                    text-decoration: none;
                    @media (min-width: 768px) {
                        padding: 0 30px;
                    }
                }
                &.active {
                    a {
                        background: $blue;
                    }
                }
                &:last-child {
                    @media (min-width: 992px) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .form-box {
        background: $lightgray;
        border-radius: 15px;
        margin-bottom: 60px;
        padding: 20px;
        @media (min-width: 768px) {
            padding: 30px;
        }
        .user-pic {
            .user {
                border-radius: 50%;
                background: $white;
                height: 125px;
                margin: 0 auto;
                overflow: hidden;
                width: 125px;
            }
            .view-more {
                margin-bottom: 20px;
                margin-top: 20px;
                a {
                    font: 22px/1.4 $copy;
                    padding: 10px 20px;
                    min-width: 175px;
                }
            }
        }
        .required {
            margin-top: 30px;
            text-align: right;
            color: $textcolor;
            font: 16px $copy;
            margin-bottom: 15px;
        }
        .input-form {
            margin: 0 0 25px 0;
            label {
                color: $textcolor;
                font: 16px $copy;
                margin: 0 0 8px 8px;
            }
            input[type="text"],
            input[type="email"],
            input[type="password"] {
                width: 100%;
                background: $darkgray;
                height: 60px;
                border-radius: 10px;
                border: 0 none;
                color: $white;
                font: 20px $copy;
                padding: 0 20px;
                &:focus {
                    outline: 0 none;
                }
                &::placeholder {
                    color: $white;
                    opacity: 1;
                }
            }
            textarea {
                width: 100%;
                background: $darkgray;
                border-radius: 10px;
                border: 0 none;
                color: $white;
                font: 20px $copy;
                padding: 10px 20px;
                &:focus {
                    outline: 0 none;
                }
                &::placeholder {
                    color: $white;
                    opacity: 1;
                }
            }
            .number {
                align-items: center;
                background: $darkgray;
                border-radius: 10px;
                display: flex;
                .map {
                    width: 60px;
                    padding: 15px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: 0 0 60px;
                    img {
                        width: 100%;
                        border: 1px solid #e1e1e1;
                    }
                }
                input {
                    flex-grow: 1;
                    padding-left: 0;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
            .inline-radio {
                display: flex;
                flex-wrap: wrap;
                margin: 5px 0 60px 10px;
                margin-bottom: 60px;
                margin-top: 10px;
                .radio-input {
                    cursor: pointer;
                    font: 22px/30px $copy;
                    margin: 0 30px 0 0;
                    padding-left: 40px;
                    position: relative;
                    user-select: none;
                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 30px;
                        width: 30px;
                        background-color: #eee;
                        border-radius: 50%;
                    }
                    &:hover {
                        input~.checkmark {
                            background-color: #ccc;
                        }
                    }
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        &:checked~.checkmark {
                            background-color: $blue;
                            border: 2px solid $white;
                        }
                    }
                }
            }
            .tagsin {
                align-items: center;
                background: $darkgray;
                border-radius: 10px;
                display: flex;
                padding: 0px 10px;
                .value {
                    align-items: center;
                    cursor: pointer;
                    display: flex;
                    height: 50px;
                    justify-content: center;
                    padding: 0px 10px;
                    width: 50px;
                    i {
                        color: $white;
                        font-size: 20px;
                        margin: 0px;
                    }
                }
                .plus-icon {
                    padding: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: 0 0 50px;
                    border-radius: 5px;
                    background-color: $blue;
                    width: 50px;
                    height: 50px;
                    color: $white;
                    img {
                        max-width: 100%;
                        cursor: pointer;
                    }
                }
                input {
                    flex-grow: 1;
                    padding: 0 10px;
                }
            }
            .multi-field {
                align-items: center;
                background: $darkgray;
                border-radius: 10px;
                display: flex;
                padding: 0px 10px;
                margin: 0 0 15px 0;
                .value {
                    padding: 0px 10px;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p {
                        color: $white;
                        font: 20px $copy;
                        margin: 0px;
                    }
                }
                .link {
                    padding: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: 0 0 96px;
                    border-radius: 5px;
                    background-color: $blue;
                    width: 96px;
                    height: 50px;
                    color: $white;
                    a {
                        font: 22px $copy;
                        color: $white;
                        text-decoration: none;
                    }
                }
                input {
                    flex-grow: 1;
                    padding: 0 10px;
                }
            }
            .skills-box {
                align-items: center;
                background: $darkgray;
                border-radius: 10px;
                display: flex;
                padding: 0px 10px;
                margin: 0 0 25px 0;
                .opt {
                    display: flex;
                    align-items: center;
                    .switch {
                        margin: 0px;
                        @extend %switch;
                        .slider {
                            &:before {
                                background: $lightgray;
                            }
                        }
                    }
                }
            }
            .view-more {
                button {
                    &.cta {
                        font: 22px/1.4 $copy;
                        padding: 10px 20px;
                        min-width: 175px;
                        border: none;
                        box-shadow: none;
                        outline: none;
                    }
                }
            }
        }
        .account-link {
            margin-top: 45px;
            p {
                color: $textcolor;
                font: 18px $copy;
                padding: 0 10px;
            }
            img {
                max-width: 100%;
            }
        }
        .deactivate {
            margin-top: 60px;
            h3 {
                padding: 0 10px;
            }
            p {
                color: $textcolor;
                font: 18px/1.5 $copy;
            }
            a {
                font: 18px/1.5 $copy;
                color: $blue;
                text-align: center;
                border-radius: 5px;
                border: 4px solid $blue;
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                margin: 30px 0 0;
                @media (min-width: 1100px) {
                    width: 262px;
                    font: 22px/1.5 $copy;
                }
            }
        }
    }
    .row {
        margin-left: -30px;
        margin-right: -30px;
        [class*="col-"] {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}