h2 {
    font: 32px $copy;
    margin-bottom: 10px;
    &.wht {
        color: $white;
    }
}

h3 {
    font: 20px $copy;
    margin-bottom: 10px;
    strong {
        font-weight: 600;
    }
    &.wht {
        color: $white;
    }
}

h4 {
    font: 14px $copy;
    margin-bottom: 10px;
    strong {
        font-weight: 600;
    }
    &.wht {
        color: $white;
    }
}

h5 {
    font: 16px $copy;
    strong {
        font-weight: 600;
    }
    &.wht {
        color: $white;
    }
}